.menu-wrapper {
    width: $menu-width;
    height: 100%;
    max-height: 100%;

    top: 0;
    left: $sidebar-width;
    z-index: 999;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .menu--item {
        transition: all 0.3s linear;
        margin: 0.5rem;
    }

    .menu-content {
        max-height: calc(100% -#{$menu-footer-height});
        height: calc(100% - #{$menu-footer-height});
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@import './menu-header';
@import './menu-search';
@import './menu-menu';
